
.mainDiv
{
    overflow-x: hidden;
    width: 100%;
    /* background-color: aqua; */
}
.mainTxt
{
    color: rgb(4, 4, 85);
    font-size: 3rem;
}
.lead
{
    font-size: 1.5rem;
}
.sublead
{
    font-size: 1.2rem;
}
.txtDiv
{
    width: 100%;
}
.title
{
    margin: 30px;
    color: rgb(4, 4, 85);
    font-size: 3rem;
}
.projectTxt
{
    padding: 5px;
    /* background-color: yellow; */
    font-size: 1.2rem;
}
/* .contactDiv
{
    background-color: rgb(3, 3, 70); 
}
.eventFooter1, .eventFooter2
{

  font-size: 1.5rem;
  background-color: rgb(3, 3, 70);
} 

.contactTxt {
  font-size: 2.2rem;
  font-weight: 600;
  color: white;
}

@media (max-width: 768px) {
  .contactTxt {
    font-size: 1.5rem;
  }
} */

/* Section Background */
.contactRow
{
  height: 80px;
  padding: 10px;
}
.contact-section {
 background-color: rgb(1, 1, 42);
}

/* Contact Text Heading */
.contactTxt {
  font-size: 2.2rem;
  font-weight: 600;
  color: white;
}

/* Cards Style */
.contact-card {
  height: 50px;
  background-color: rgb(1, 1, 42);
  color: white;
  font-size: 1.5rem;
  border: none;
  transition: transform 0.3s ease;
}

.contact-card:hover {
  transform: scale(1.03);
}

/* Responsive Font for Heading */
@media (max-width: 768px) {
  .contactTxt {
    font-size: 1.5rem;
  }

  .contact-card {
    font-size: 1.2rem;
  }
}
